<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>
    <b>Name:</b> {{name}}<br/>
    <b>Email:</b> {{email}}<br/>
    <b>Phone:</b> {{phone}}<br/>
    <b>Address:</b> {{address}}<br/>
    <b>DOB:</b> {{dob}}<br/>
    <b>Start Date:</b> {{startDate}}<br/>
    <b>Authorized In US:</b> {{authrorizedInUS}}<br/>
    <b>Felony:</b> {{felony}}<br/>
    <b>Referred By:</b> {{referredBy}}<br/>
    <b>Current Employer:</b> {{currentEmployer}}<br/>
    <b>Reason for Leaving:</b> {{reasonLeaving}}<br/>
    <b>Current Salary:</b> {{currentSalary}}<br/>
    <b>Asking Salary:</b> {{askingSalary}}<br/>
    <b>Hours per Week:</b> {{hoursPerWeek}}<br/>
    <b>Position:</b> {{position}}<br/>
    <b>Efficient Remotely:</b> {{efficientRemotely}}<br/>
    <b>Strengths:</b> {{strengths}}<br/>

</p>
</body>
</html>